.container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.title {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.barras {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.botoes {
    display: flex;
    gap: 10px;
}
