.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.user-img{
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    overflow: hidden; 
}

.bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.bottom p {
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
}

.btn-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(8, 8, 8);
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-icon img{
    width: 24px;
}

@media (max-width: 768px) {
    .responsive-img {
        width: 70%;
        max-width: 400px;
    }

    .user p{
        display: none;
    }

    .user img {
        width: 60px;
        height: 60px;
    }
}