.main-layout {
  margin: auto;
  width: 50%;
  padding: 50px 0px 50px 0px;
}

.users-layout{
  margin: auto;
  width: 70%;
  padding: 50px 0px 50px 0px;
}

footer {
  font-weight: 600;
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.table-box {
    max-height: 400px;
    width: fit-content;
    overflow: scroll;
}

table{
    text-align: center;
    border-collapse: separate;
    border-spacing: 100px 18px;
}

@media (max-width: 500px) {
  .main-layout {
    width: 80%;
  }
}