.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

@media (max-width: 1024px) {

    .hero-img{
        width: 400px;
    }
}

@media (max-width: 768px) {
    .hero-img{
        display: none;
    }
}